/* Webfont: Adallyn-regular */@font-face {
    font-family: 'Adallyn2';
    src: url('Adallyn-regular.eot'); /* IE9 Compat Modes */
    src: url('Adallyn-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Adallyn-regular.woff') format('woff'), /* Modern Browsers */
         url('Adallyn-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Adallyn-regular.svg#Adallyn-regular') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

